@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700i&display=swap'");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap");

body {
  background-color: #e0eaea;
}

.clock {
  color: #e0eaea;
  text-align: center;
  font-size: 90px;
  font-family: "Roboto", sans-serif;
}

.delBtn {
  cursor: pointer;
}

h1 {
  color: #34495e;
  transition: color 0.5s ease-in-out;
}
.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  font-family: "Open Sans", sans-serif;
  display: none;
  color: #ecf0f1;
  text-align: center;
  font-size: 25px;
}
#nameBox {
  background: transparent;
  font-size: 20px;
  border-radius: 40px;
  padding: 10px;
  color: black;
  border: 2px solid red;
}
.goal {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  color: whitesmoke;
  text-align: center;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: -5;
  }
  to {
    opacity: 3;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.9s linear;
  opacity: 0.8;
}

#toDoBox {
  margin: auto;
  display: block;
  background-color: transparent;
  border: none;
  border-width: 1px 2em 1.5cm;
  border-bottom: 3px solid #7f8c8d;
  box-sizing: border-box;
  font-size: 25px;
  height: 30px;
  left: 10px;
  padding: 10px 0px;
  position: relative;
  top: 40%;
  width: 300px;
  text-align: center;
}
::placeholder {
  font-family: "Open Sans", sans-serif;
  color: antiquewhite;
  size: 12px;
  font-weight: bolder;
  text-align: center;
}
.toDoList {
  font-family: "Playfair Display", serif;
  color: white;
  text-align: center;
}

#liList {
  list-style-type: none;
  font-size: 24px;
}

.toDoButton {
  background-color: #008cba;
  margin-left: 10px;
  font-size: 16px;
}

.js-weather {
  font-family: "Playfair Display", serif;
  font-weight: bolder;
  font-size: 20px;
  position: absolute;
  border: none;
  background-color: #8080803b;
  padding: 5px 20px 5px 20px;
  top: 30px;
  right: 10px;
  color: rgb(243, 239, 237);
}
#weather {
  border: #008cba;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #167f3621;
  color: white;
  text-align: center;
}

#AudioBtn {
  top: 50px;
  margin: 80px;
  margin-top: 5px;
  margin-left: 5px;
}

#music {
  width: 80px;
  height: 50px;
}
