@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700i&display=swap'");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display&display=swap");

body {
  background-color: #e0eaea;
}

.clock {
  color: #e0eaea;
  text-align: center;
  font-size: 70px;
  font-family: "Roboto", sans-serif;
}

.delBtn {
  cursor: pointer;
}

h1 {
  color: #34495e;
  transition: color 0.5s ease-in-out;
}
.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  font-family: "Open Sans", sans-serif;

  display: none;
  color: #ecf0f1;
  text-align: center;
  font-size: 20px;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: -5;
  }
  to {
    opacity: 3;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.9s linear;
}

#toDoBox {
  margin: auto;
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  height: 20px;
  left: 10px;
  padding: 10px 0px;
  position: relative;
  top: 40%;
  width: 300px;
  text-align: center;
}
::placeholder {
  color: white;
}
.toDoList {
  font-family: "Playfair Display", serif;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: ;
}

#liList {
  list-style-type: none;
}
